pipeline/callSdsApi.json
{
	"name": "callSdsApi",
	"properties": {
		"activities": [
			{
				"name": "GetAppRegSecret",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://kv-sds.vault.azure.net/secrets/v-sds/86fc803f85624b318975671a6a609c51?api-version=7.0",
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "GetBearToken",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "GetAppRegSecret",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://login.microsoftonline.com/fe22c432-c75f-41b3-b31b-9c3e506847b1/oauth2/v2.0/token",
					"method": "POST",
					"headers": {
						"Content-Type": "application/x-www-form-urlencoded"
					},
					"body": {
						"value": "@concat('client_id=4419f7c7-d96c-4dec-add3-aa66d6e8a424&scope=https%3A%2F%2Fgraph.microsoft.com%2F.default&grant_type=client_credentials&client_secret=',activity('GetAppRegSecret').output.value)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "GetUploadUrl",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "GetBearToken",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://graph.microsoft.com/beta/education/synchronizationProfiles/4519a9c7-9144-4075-a3e4-f503250a566d/uploadUrl",
					"method": "GET",
					"headers": {
						"Authorization": {
							"value": "@concat('Bearer ',activity('GetBearToken').output.access_token)",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "setSASUrlParts",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GetUploadUrl",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "",
					"value": ""
				}
			}
		],
		"variables": {
			"SASUrlParts": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}