pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Get_accessToken",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://api.ed-fi.org/v5.3/api/oauth/token",
					"method": "POST",
					"headers": {
						"Content-Type": "application/x-www-form-urlencoded",
						"Authorization": "Basic UnZjb2hLejl6SEk0OkUxaUVGdXNhTmY4MXh6Q3h3SGZib2xrQw=="
					},
					"body": "grant_type=client_credentials"
				}
			},
			{
				"name": "Set token",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get_accessToken",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "access_token",
					"value": {
						"value": "@activity('Get_accessToken').output.access_token",
						"type": "Expression"
					}
				}
			},
			{
				"name": "New Assessment",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Set token",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://api.ed-fi.org/v5.3/api/data/v3/ed-fi/assessments",
					"method": "POST",
					"headers": {
						"authorization": {
							"value": "@concat('Bearer ', variables('access_token'))",
							"type": "Expression"
						},
						"Content-Type": "application/json"
					},
					"body": "{\n  \"id\":,\n  \"academicSubjects\": [\n    {\n      \"academicSubjectDescriptor\": \"Advanced Mathematic\"\n    }\n  ],\n  \"assessmentIdentifier\": \"AM001\",\n  \"namespace\": \"EdFi\",\n  \"educationOrganizationReference\": {\n    \"educationOrganizationId\": 0,\n    \"link\": {\n      \"rel\": \"ref\",\n      \"href\": \"www.microsoft.com\"\n    }\n  },\n  \"adaptiveAssessment\": true,\n  \"assessedGradeLevels\": [\n    {\n      \"gradeLevelDescriptor\": \"Pass or Fail\"\n    }\n  ],\n  \"assessmentCategoryDescriptor\": \"Advance\",\n  \"assessmentFamily\": \"string\",\n  \"assessmentForm\": \"string\",\n  \"assessmentTitle\": \"string\",\n  \"assessmentVersion\": 0,\n  \"contentStandard\": {\n    \"publicationStatusDescriptor\": \"string\",\n    \"beginDate\": \"2022-08-02\",\n    \"endDate\": \"2023-08-02\",\n    \"publicationDate\": \"2022-08-02\",\n    \"publicationYear\": 2022,\n    \"title\": \"string\",\n    \"uri\": \"string\",\n    \"version\": \"string\",\n    \"mandatingEducationOrganizationReference\": {\n      \"educationOrganizationId\": 0,\n      \"link\": {\n        \"rel\": \"string\",\n        \"href\": \"string\"\n      }\n    },\n    \"authors\": [\n      {\n        \"author\": \"Marcus Gan\"\n      }\n    ]\n  },\n  \"identificationCodes\": [\n    {\n      \"assessmentIdentificationSystemDescriptor\": \"string\",\n      \"assigningOrganizationIdentificationCode\": \"string\",\n      \"identificationCode\": \"string\"\n    }\n  ],\n  \"languages\": [\n    {\n      \"languageDescriptor\": \"string\"\n    }\n  ],\n  \"maxRawScore\": 0,\n  \"nomenclature\": \"string\",\n  \"performanceLevels\": [\n    {\n      \"assessmentReportingMethodDescriptor\": \"string\",\n      \"performanceLevelDescriptor\": \"string\",\n      \"resultDatatypeTypeDescriptor\": \"string\",\n      \"maximumScore\": \"400\",\n      \"minimumScore\": \"100\"\n    }\n  ],\n  \"period\": {\n    \"assessmentPeriodDescriptor\": \"AY2022 Term 1\",\n    \"beginDate\": \"2022-08-02\",\n    \"endDate\": \"2023-08-02\"\n  },\n  \"platformTypes\": [\n    {\n      \"platformTypeDescriptor\": \"string\"\n    }\n  ],\n  \"programs\": [\n    {\n      \"programReference\": {\n        \"educationOrganizationId\": 0,\n        \"programName\": \"string\",\n        \"programTypeDescriptor\": \"string\",\n        \"link\": {\n          \"rel\": \"string\",\n          \"href\": \"string\"\n        }\n      }\n    }\n  ],\n  \"revisionDate\": \"2022-09-02\",\n  \"scores\": [\n    {\n      \"assessmentReportingMethodDescriptor\": \"string\",\n      \"resultDatatypeTypeDescriptor\": \"string\",\n      \"maximumScore\": \"string\",\n      \"minimumScore\": \"string\"\n    }\n  ],\n  \"sections\": [\n    {\n      \"sectionReference\": {\n        \"localCourseCode\": \"string\",\n        \"schoolId\": 0,\n        \"schoolYear\": 0,\n        \"sectionIdentifier\": \"string\",\n        \"sessionName\": \"string\",\n        \"link\": {\n          \"rel\": \"string\",\n          \"href\": \"string\"\n        }\n      }\n    }\n  ],\n  \"_etag\": \"string\"\n}"
				}
			}
		],
		"parameters": {
			"credential": {
				"type": "String",
				"defaultValue": "RvcohKz9zHI4:E1iEFusaNf81xzCxwHfbolkC"
			}
		},
		"variables": {
			"access_token": {
				"type": "String"
			}
		},
		"annotations": []
	}
}