pipeline/Send_email_report.json
{
	"name": "Send_email_report",
	"properties": {
		"activities": [
			{
				"name": "GetBearerToken",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "GetAdminPassword",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "GetClientSecretForSdsApi",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@pipeline().globalParameters.clientLoginUrl",
						"type": "Expression"
					},
					"method": "POST",
					"headers": {
						"Content-Type": "application/x-www-form-urlencoded"
					},
					"body": {
						"value": "grant_type=password&client_id=@{pipeline().globalParameters.clientId}&client_secret=@{activity('GetClientSecretForSdsApi').output.value}&scope=https://graph.microsoft.com/.default&userName=@{pipeline().globalParameters.userName}&password=@{activity('GetAdminPassword').output.value}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "sendMail",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "GetBearerToken",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "https://graph.microsoft.com/v1.0/me/sendMail",
						"type": "Expression"
					},
					"method": "POST",
					"headers": {
						"Authorization": {
							"value": "@concat('Bearer ',activity('GetBearerToken').output.access_token)",
							"type": "Expression"
						}
					},
					"body": {
						"value": "{\"message\":{\"subject\":\"@{pipeline().parameters.subject}\",\"body\":{\"contentType\":\"Text\",\"content\":\"@{pipeline().parameters.body}\"},\"toRecipients\":@{pipeline().globalParameters.emailAddresses}}}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "GetAdminPassword",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@{pipeline().globalParameters.SdsAdminPasswordKeyVaultUrl}?api-version=7.0",
						"type": "Expression"
					},
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "GetClientSecretForSdsApi",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@{pipeline().globalParameters.ClientSecretForSdsApiKeyVaultUrl}?api-version=7.0",
						"type": "Expression"
					},
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			}
		],
		"parameters": {
			"subject": {
				"type": "string"
			},
			"body": {
				"type": "string"
			}
		},
		"variables": {
			"SASUrlParts": {
				"type": "Array",
				"defaultValue": []
			}
		},
		"folder": {
			"name": "Sub pipelines"
		},
		"annotations": [],
		"lastPublishTime": "2020-09-22T15:58:49Z"
	}
}