pipeline/Upload_to_SDS.json
{
	"name": "Upload_to_SDS",
	"properties": {
		"activities": [
			{
				"name": "GetBearerToken",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "GetAdminPassword",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "GetClientSecretForSdsApi",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@pipeline().globalParameters.clientLoginUrl",
						"type": "Expression"
					},
					"method": "POST",
					"headers": {
						"Content-Type": "application/x-www-form-urlencoded"
					},
					"body": {
						"value": "grant_type=password&client_id=@{pipeline().globalParameters.clientId}&client_secret=@{activity('GetClientSecretForSdsApi').output.value}&scope=https://graph.microsoft.com/.default&userName=@{pipeline().globalParameters.userName}&password=@{activity('GetAdminPassword').output.value}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "GetUploadUrl",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "GetBearerToken",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "https://graph.microsoft.com/beta/education/synchronizationProfiles/@{pipeline().parameters.sdsProfileId}/uploadUrl",
						"type": "Expression"
					},
					"method": "GET",
					"headers": {
						"Authorization": {
							"value": "@concat('Bearer ',activity('GetBearerToken').output.access_token)",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "setSASUrlParts",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GetUploadUrl",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "SASUrlParts",
					"value": {
						"value": "@split(activity('getUploadUrl').output.value,'?')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "uploadCsvFilesToSDS",
				"description": "Copies the sds formatted csv files into the SDS blob storage container for the configured sync profile.\n",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "setSASUrlParts",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFolderPath": {
								"value": "@pipeline().parameters.directory",
								"type": "Expression"
							},
							"wildcardFileName": "*.csv",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".csv"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "CsvFile",
						"type": "DatasetReference",
						"parameters": {
							"directory": {
								"value": "na",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "SDS_syncprofile_storage",
						"type": "DatasetReference",
						"parameters": {
							"sasUriParam": {
								"value": "@{variables('SASUrlParts')[0]}?@{variables('SASUrlParts')[1]}",
								"type": "Expression"
							},
							"sdsProfileId": {
								"value": "@pipeline().parameters.sdsProfileId",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "VerifyUploadAndStartSync",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "uploadCsvFilesToSDS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "https://graph.microsoft.com/beta/education/synchronizationProfiles/@{pipeline().parameters.sdsProfileId}/start",
						"type": "Expression"
					},
					"method": "POST",
					"headers": {
						"Authorization": {
							"value": "@concat('Bearer ',activity('GetBearerToken').output.access_token)",
							"type": "Expression"
						}
					},
					"body": " "
				}
			},
			{
				"name": "GetAdminPassword",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@{pipeline().globalParameters.SdsAdminPasswordKeyVaultUrl}?api-version=7.0",
						"type": "Expression"
					},
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "GetClientSecretForSdsApi",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@{pipeline().globalParameters.ClientSecretForSdsApiKeyVaultUrl}?api-version=7.0",
						"type": "Expression"
					},
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			}
		],
		"parameters": {
			"directory": {
				"type": "string"
			},
			"sdsProfileId": {
				"type": "string"
			}
		},
		"variables": {
			"SASUrlParts": {
				"type": "Array",
				"defaultValue": []
			}
		},
		"folder": {
			"name": "Sub pipelines"
		},
		"annotations": [],
		"lastPublishTime": "2020-09-19T12:47:37Z"
	}
}